.stock-transactions, .aggregated-report {
    margin-left: 10px;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 1em;
    background-color: #f8f9fa;
    min-width: 600px;

}

table th, table td {
    padding: 12px;
    border: 1px solid #d0cece;
    text-align: center;
}

table th {
    background-color: #4169E1;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #e9ecef;
}

table tr:hover {
    background-color: #f1f1f1;
}

.positive {
    color: #28a745;
}

.negative {
    color: #dc3545;
}

.delete-button {
    padding: 8px 16px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #e60000;
}

table th:first-child, table td:first-child {
    border-left: none;
}

table th:last-child, table td:last-child {
    border-right: none;
}